body {
    width: 100%;
    margin: 0;  /* Elimina márgenes por defecto */
    overflow: hidden; /* Desactiva el desplazamiento global */
}

.game-container {
    width: 5000px; /* Mantén el ancho original del mapa */
    height: 100vh;
    min-height: 100vh;
    border: 2px solid #000;
    position: relative;
    overflow-x: auto; /* Activa el desplazamiento horizontal */
    overflow-y: hidden; /* Desactiva el desplazamiento vertical */
    background-color: #87ceeb;
}

/* Estilo para la plataforma meta */
.last-platform {
    background-color: gold;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Media Query para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    body {
        overflow-x: auto;  /* Permite el desplazamiento horizontal en la pantalla del móvil */
    }

    .game-container {
        width: 5000px; /* Mantén el tamaño original del mapa */
        height: auto;  /* Ajusta la altura de manera dinámica */
    }
}
